<html>

<head>
    <title>Kry-Dev Cluster</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/slate.css">
    <style>
        .head {
            color: #ffffff;
        }
        
        .head-h1 {
            margin-bottom: 0em!important;
            text-shadow: 4px 4px 4px #000000;
        }
        
        .tile-container {
            margin-top: 2em;
        }
    </style>
</head>

<body style='background: #161616;' data-backgrounds='/static/img/bg/b1920-000.jpg,/static/img/bg/b1920-001.jpg,/static/img/bg/b1920-002.jpg,/static/img/bg/b1920-003.jpg,/static/img/bg/b1920-004.jpg,'>
    <div class="nav-panel">
        <nav>
            <ul>
                <li class="tag"><a data-tooltip="all" href="#"><i class="icon fa fa-th" aria-hidden="true"></i></a></li>
                <li class="tag"><a data-tooltip="favorites" href="#favorite"><i class="icon fa fa-star" aria-hidden="true"></i></a></li>
                <li class="tag"><a href="{{OWNER_URL}}"><i class="icon fa fa-user" aria-hidden="true"></i></a></li>
                <!-- <li class="tag"><a data-tooltip="shopping" href="#shopping"><i class="icon fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                <li class="tag"><a data-tooltip="music" href="#music"><i class="icon fa fa-headphones" aria-hidden="true"></i></a></li>
                <li class="tag"><a data-tooltip="video" href="#video"><i class="icon fa fa-video-camera" aria-hidden="true"></i></a></li> -->
            </ul>
        </nav>
    </div>


    <div class="container">
        <h1 class="head head-h1">Kry Development Cluster</h1>
        <p class="head"><mark>All interactions are logged. Exit if you're not authorized.<br>[Currently in Beta]</mark></p>
        <div class="tile-container">

            {% for iter in DASH %}
            <a class="tile tile-link" href="{{ iter["url"] }}" data-groups='{{ iter["groups"] }}' target="_blank">
                <div class="tile-box" data-title='{{ iter["title"] }}' data-bg-color='{{ iter["bg-color"] }}' data-url='{{ iter["url"] }}' data-img='/static/logos/{{ iter["img"] }}'>
                    <img class="logo" src="/static/logos/{{ iter["img"] }}"></img>
                </div>
                <div class="tile-title">{{ iter["title"] }}</div>
            </a>
            {% endfor %}
        </div>

    </div>

</body>
<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
<script src="/static/js/slate.js"></script>

</html>